# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# ArcGIS
*.lock
*.gdb/
Thumbs.db
.DS_Store

# Ścieżki
D:\GIS\*.gdb  # Pomijaj lokalne geobazy
data.txt
# https://mostwiedzy.pl/pl/open-research-data/3d-point-cloud-as-a-representation-of-silo-tank,615070441641526-0